/* UNIVERSAL */
:root {
  /* COLORS */
  --primary: #e3e3e3;
  --secondary: #cecece;
  --accent: #3e3e3e;
  --indent: #00000010;
  --scroll-bar-track: #00000010;
  --scroll-bar-thumb: #00000030;
  --scroll-bar-thumb-hover: #0000009a;
  --active: #0099ff;

  /* ATTRIBUTES */
  /* TIMERS */
  --swift: 100ms;
  --standard: 500ms;
  --slow: 1000ms;
}

/* #region MODIFIER */
.rounded {border-radius: 1rem};
.pill {border-radius: 99999px};
/* #region INVERT */
.invert {
  -webkit-filter: invert();
}
/* #endregion */

/* #region BLUR */
.blur {
  -webkit-filter: blur(0.3em);
  /* filter: blur(8px); */
}
/* #endregion */
/* #endregion */

/* UNCOMMENT TO REMOVE CURRENT EXAMPLES */
.example {
  /* display: none; */
}

/* #region FOUNDATION*/
* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.busInformation {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #0099ff;
  border-radius: 99999px;
  margin: 10% 30% 10% 30%;
  padding: 1em;
}

.busInformation {
  text-align: center;
  height: auto;
}