body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  .left {
    width: 100%;
  }
}

#busPlan {
  ul {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    background-color: #ff0000;
    list-style: none;
    * {
      border-radius: 50%;
      background-color: yellow;
      padding: 1em;
    }
  }

  * {
    margin: 0;
  }

  ul:first-child {
    background-color: aquamarine;
    font-weight: bold;
  }
}
